<h1>New Game</h1>

<% for i in 0..@letters.length %>
<%= @letters[i] %>
<% end %>

<h3>What is the longest word you can find?</h3>
<form action="/score" method="POST">
  <input type="text" name="word" value="your try here">
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Play">
</form>
